# Configuración de Base de Datos - MariaDB / MySQL
DB_HOST=localhost
DB_NAME=ippilotopardo_control_simulador
DB_USER=root
DB_PASS=

# Configuración de Credenciales de Administrador (Opcional - Por defecto: admin / admin123)
ADMIN_USER=admin
# Puedes generar tu propio hash de contraseña ejecutando en consola: php -r "echo password_hash('tu_clave', PASSWORD_BCRYPT);"
ADMIN_PASSWORD_HASH=$2y$10$MAn6J13mTDw8f3kU9N9Tyu.e0JPDc3OpMRM0fGN14jFzeUL9/vS8S
